<div id="pageContent">
	<div class="panel leftpanel inline uk-button" ng-class="getPanelButtonClass('#menu')" data-uk-offcanvas="{target:'#menu'}"></div>
	<div id="menu" class="uk-offcanvas">
		<div class="uk-offcanvas-bar">
			<ul class='uk-nav uk-nav-offcanvas'>
                <li>
                    left content
                </li>
			</ul>
		</div>
	</div>
	<div class="content">
        <input type="text" placeholder="speed" ng-model="speed"/>
        <div class="uk-button" ng-click="onrequest('speed')">Set Speed</div>
        <div>{{requestResult}}</div>
	</div>
	<div class="panel rightpanel inline uk-button" ng-class="getPanelButtonClass('#infos')" data-uk-offcanvas="{target:'#infos'}"></div>
	<div id="infos" class="uk-offcanvas" data-uk-nav=''>
		<div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
			<ul class='uk-nav uk-nav-offcanvas'>
                <li>
                    right content
                </li>
			</ul>
		</div>
	</div>
</div>
